@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMF Gaming</h1>
    @*<h3>In My Feelz</h3>*@
    <p class="lead">IMF Gaming is a small American video game and entertainment Review board.</p>
    <p><a href="http://localhost:49806/Reviews/Index" class="btn btn-primary btn-lg">See Your Reviews &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Start a Review</h2>
        <p>
            IMF Gaming allows you to share your thoughts, ideas, and concerns about any new or old video game.
            The IMF community is a non-toxic, friendly environment where all reviews and reactions matter.
        </p>
        <p><a class="btn btn-default" href="http://localhost:49806/Reviews/Create"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Here <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edit Your Review</h2>
        <p>Second thoughts on a game you decided to give another chance? Edit your reviews here!</p>
        <p><a class="btn btn-default" href="http://localhost:49806/Reviews/Index"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Here <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage Reviews</h2>
        <p>You can easily manage all of your previously posted video game reviews here</p>
        <p><a class="btn btn-default" href="http://localhost:49806/Reviews/Index"><span class="glyphicon glyphicon-fire" aria-hidden="true"></span> Here <span class="glyphicon glyphicon-fire" aria-hidden="true"></span> &raquo;</a></p>
    </div>
</div>
