body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.container.body-content h2{
    font-family: 'Orbitron', sans-serif;
}

div.container.body-content div.jumbotron h1{
    font-family: 'Orbitron', sans-serif;
}

div.container.body-content div.row div.col-sm-6.col-md-4 div.thumbnail div.caption h3{
    font-family: 'Russo One', sans-serif;
}

a.btn.btn-primary{
    font-family: 'Russo One', sans-serif;
    background-color:#66FCF1;
    color:#202833;
    border-color:#66FCF1
}

div.thumbnail div.caption p{
    font-family: 'Russo One', sans-serif;
}

div.row div.col-md-4 p a.btn.btn-default{
      font-family: 'Russo One', sans-serif;
    background-color:#66FCF1;
    color:#202833;
    border-color:#66FCF1
}
div.container.body-content div.jumbotron {
    background-image: url('Images/honeycomb-pattern-abstract-hd-wallpaper-1920x1080-5295.jpg');
}
div.jumbotron h1{
    color:lightgray;
}

div.jumbotron p.lead {
    color:lightgray
}

div.jumbotron p.lead{
    font-family: 'Exo 2', sans-serif;
}
/*div.row div.col-md-4 p {
    font-family: 'Exo 2', sans-serif;
    font-size:14px;
}*/